html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  padding: 2rem;
  margin: 0;
  font-family: 
    'Ubuntu',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
