.input{
    display: flex;
    margin: 0 auto;
    border: none;
    width: 80%;
    background-color: rgb(167, 167, 167);
    height: 4rem;
    border-radius: 1.5rem;
    transition: all 0.5s;
}
.input:focus{
    width: 95%;
    background-color: rgba(120, 120, 120, 1);
    
}
.input:focus::placeholder{
    color: #fff;
    font-size: 2rem;
    
}